@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.primary {
  background-color: #2fa127;
  padding: 5px 20px;
  color: white;
  border: none;
}
